.reveal-viewport {

}

.reveal .slides {
  width: 100% !important;
}

.reveal .quarto-title-block {
  font-size: 30px !important;
  font-family: 'Abadi Extra Light', Sans-Serif;
}

.reveal h1 {
    font-size: 60px !important;
    color: #c5050c;
    text-align: center;
    vertical-align: top;
    font-weight:normal !important;
    font-family: 'Abadi Extra Light', Sans-Serif;
    }

.reveal h2 {
   background-color:  #c5050c;
    padding: 10px 0px 10px 20px;
    height: 85px;
    color: #ffffff;
    font-size: 50px;
    border-radius: 0px;
    font-family: 'Abadi Extra Light', Sans-Serif;
}

.reveal ul {
    list-style-type: "\25A1   " !important;
    padding-left: 50px;
    padding-right: 10px;
    width: 90%;
    font-size: 35px;
    font-family: 'Abadi Extra Light', Sans-Serif;
}

.reveal ol {
    padding-left: 50px;
    padding-right: 10px;
    width: 90%;
    font-size: 35px;
    font-family: 'Abadi Extra Light', Sans-Serif;
}


.reveal .subtitle {
    font-weight: 700 !important;
    font-size: 35px !important;
    font-family: 'Abadi Extra Light', Sans-Serif;
}


.reveal .footer {
    color: #616a6b !important;
    text-align: left !important;
    margin-left: 10px !important;
    font-family: 'Abadi Extra Light', Sans-Serif;
}


.reveal {
    color: black !important;
    font-family: 'Abadi Extra Light', Sans-Serif;
}



.reveal .quarto-logo {
    height: 40px !important;
    width: auto !important;
    margin-right: 10px !important;
}

